footer {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
