* {
  box-sizing: border-box;
  padding: 5px;
}
.container {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
}
.user-form input {
  margin: 5px;
}
p {
  font-weight: bolder;
  font-size: larger;
}
form {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.primary-button {
  color: white;
  background-color: rgb(74, 68, 68);
  border: 0px;
  border-radius: 6px;
}

.user-form input[type='text'] {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  outline: none;
  display: block;
}
