<br />
<table>
  <tr>
    <td colspan="6">
      <div>
        <span>Usuarios</span>
        <span>3 Total</span>
      </div>
    </td>
  </tr>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Nombre</th>
    <th>Creado</th>
    <th>Actualizado</th>
    <th>Acciones</th>
  </tr>
  <tbody>
    <tr>
      <td>8efa2d9d-058f-4e26-8330-da583bcb48bf</td>
      <td>test@test.com</td>
      <td>John Doe</td>
      <td>21/1/26, 17:26</td>
      <td>21/1/26, 17:33</td>
      <td>
        <input class="secondary-button" type="submit" name="edit" value="Editar" />
        <input class="tertiary-button" type="button" name="delete" value="Eliminar" />
      </td>
    </tr>
    <tr>
      <td>8efa2d9d-058f-4e26-8330-da583bcb48bf</td>
      <td>test@test.com</td>
      <td>John Doe</td>
      <td>21/1/26, 17:26</td>
      <td>21/1/26, 17:33</td>
      <td>
        <input class="secondary-button" type="submit" name="edit" value="Editar" />
        <input class="tertiary-button" type="button" name="delete" value="Eliminar" />
      </td>
    </tr>
    <tr>
      <td>8efa2d9d-058f-4e26-8330-da583bcb48bf</td>
      <td>test@test.com</td>
      <td>John Doe</td>
      <td>21/1/26, 17:26</td>
      <td>21/1/26, 17:33</td>
      <td>
        <input class="secondary-button" type="submit" name="edit" value="Editar" />
        <input class="tertiary-button" type="button" name="delete" value="Eliminar" />
      </td>
    </tr>
  </tbody>
</table>
