.container {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  overflow: hidden;
  margin-top: 15px;
}

p {
  font-weight: bolder;
  font-size: larger;
  margin: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: #fcfcfc;
}

table td {
  padding: 10px;
}

table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.total {
  font-size: small;
  font-weight: lighter;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 2px 8px;
}

.secondary-button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-right: 10px;
}

.tertiary-button {
  background-color: rgb(255, 226, 226);
  border: 1px solid rgb(248, 193, 193);
  border-radius: 3px;
}
